html, body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.logo i {
    margin-right: 10px;
}

.navigation {
    text-align: right;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s;
}

.navigation a:hover {
    color: #ecf0f1;
}

.main {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

ul {
    list-style: disc;
    padding-left: 20px;
}

p {
    line-height: 1.5;
}

footer {
    text-align: center;
    padding: 10px;
    background-color:  #75a85e;
    color: #fff;
}





