*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: #fff;
}

.container{
    max-width: 100%;
    margin: 0 auto;
    background-color: #313438;
    min-height: 100vh;
}

.hero{
    background: #75a85e;
    padding: 2em 0;
}

.back-btn{
    font-size: 1.7em;
    padding-left: 1em;
}

.hero-info{
    display: flex;
    flex-flow: column;
    align-items: center;
}

i{
    font-size: 1.5em;
}

.relationship{
    width: 6em;
    text-align: center;
    padding: .4em .5em;
    border-radius: 100px;
    border-top-left-radius: 0;
    background-color: #75a85e;
    font-size: .8em;
}

a{
    text-decoration: none;
    color: #fff;
}

.contact-info{
    padding: 3em 1.5em;
}

.info-line{
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    padding: 1em 2em;
    margin-top: 2em;
    border-radius: 20px;
    box-shadow: 6px 6px 12px #2d2f33,
               inset -6px -6px 12px #35393d;
}

p{
    margin: 0;
    padding-left: 2em;
}

.icon-gradient{
    background: #75a85e;
    border-radius: 100px;
    padding: .5em;
}

#location{
    padding: .5em .6em;
}

.type{
    border: none;
    background: none;
    padding-left: 2em;
    font-size: 1.2em;
    outline: none;
    color: #fff;
}

.button-container{
    padding: 2em 3.5em;
}

.update-contact{
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    padding: 1em 2em;
    border-radius: 20px;
    box-shadow: 6px 6px 12px #2d2f33,
             -6px -6px 12px #35393d;
}

.button{
    border: none;
    font-size: 1.3em;
    padding-left: 1.5em;
    outline: none;
    color: #fff;
    background-color: #313438;
}